/*
Site Name: 
Credits: http://www.com/humans.txt
*/


/*--| BIGGER THAN LAPTOP 
------------------------------------------------------------------------------------------------------------------------ |--*/

@media (min-width: 1280px) { 



}


/*--| LAPTOP - 1280 x 800
------------------------------------------------------------------------------------------------------------------------ |--*/

@media (max-width: 1280px) and (min-width: 1025px;) { 



}



/*--| NETBOOK - 1024 x 600 & IPAD LANDSCAPE
------------------------------------------------------------------------------------------------------------------------ |--*/

@media (max-width: 1024px) {



}



/*--| ZONA NEGRA (?)
------------------------------------------------------------------------------------------------------------------------ |--*/

@media (max-width: 960px) and (min-width: 321px;)  { 

	.resolution-warning {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 10000;
		background-color: #2156a6;
		}

}








/*--| ------------------------------------------------------------------------------------------------------------------ |--*/